# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
out/

# Turborepo
.turbo/

# Testing
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/generated/

# TypeScript incremental build cache
*.tsbuildinfo
